<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<groups>
		<run>
			<include name="Smoke"></include>
			<include name="Regression"></include>
			<include name="Functional"></include>
		</run>
	</groups>

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
  <test name="Test">
  		<parameter name="Browser" value="chrome" />
    <classes>
      <class name="testCases.DropdownListSelectMultipleValuesTest"/>
      <class name="testCases.CheckBoxDemoSingleCheckBoxTest"/>
      <class name="testCases.FirstRadioButtonDemoSingleRadioButtonTest"/>
      <class name="testCases.DatePickerCalendarTest"/>
      <class name="testCases.DropdownListPrintAllValuesTest"/>
      <class name="testCases.FirstFormDemoDataSheet"/>
      <class name="testCases.FirstFormDemoTestUsingLaunchBrowser"/>
      <class name="testCases.HeadlessFirstFormDemoDataSheetTest"/>
      <class name="testCases.FirstFormDemoUsingLaunchBrowsrStaticDataTest"/>
      <class name="testCases.NaukriHandleMultipleWindowsTest"/>
      <class name="testCases.DropdownListTest"/>
      <class name="testCases.PopupWindowTest"/>
      <class name="testCases.CheckBoxDemoSingleCheckBoxTest2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
